<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\C5.Intervals.Test\packages.config" />
  <repository path="..\src\C5.Intervals.Tests\packages.config" />
  <repository path="..\src\C5.Test\packages.config" />
  <repository path="..\src\C5.Tests\packages.config" />
</repositories>